.App {
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
}

h1 {
  color: #00227b;
}

.first, .fourth {
  padding: 50px;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.second, .fourth {
  background-color: #f5f8ff;
}

.cols {
  display: flex;
  justify-content: center;
}

.circles {
  display: flex;
}

.circle {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
  line-height: 500px;
  
  background: #00227b;
  opacity: 0.8;

  font-size: 20px;
  color: white;
  
}
.text {
  font-size: 10px;
  /* text-align: center; */
}

.team-row {
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
}

.contact p, .contact a {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.contact a {
  padding-bottom: 20px;
}

