.App {
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
}

h1 {
  color: #00227b;
  font-family: 'Noto Serif KR', serif;
  padding-bottom: 20px;
  font-size: 40px;
}

.first, .third, .fourth, .fifth {
  padding: 50px;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.second, .fourth {
  background-color: #f5f8ff;
}

.cols {
  display: flex;
  justify-content: space-around;
}

.circles {
  display: flex;
}

body {
  font-family: 'Lato', sans-serif;
}

.circle {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
  line-height: 500px;
  
  background: #00227b;
  opacity: 0.8;

  font-size: 20px;
  color: white;
  
}

.team-row {
  text-align: left;
  margin-right: 15px;
  margin-left: 15px;
}

.contact p, .contact a {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.contact a {
  padding-bottom: 20px;
}

.profile-pic {
  height: 250px;
  width: 250px;
  align-content: center;
}


.container {
  display: flex;
  justify-content: space-around;
}

.profile {
  padding: 5px;
}

.profile-text {
  padding-top: 10px;
}

#about p, #product p {
  font-size: 15pt;
}

.second h1 {
  padding: 20px;
}

.first-img {
  width: 700px;
  height: 450px;
  padding: 0 10px;
}

.first, .fourth {
  display: flex;
}

.stat1 {
  text-align: left;
  margin-left: 50px;
}

.stat2 {
  text-align: right;
  margin-right: 50px;
}

.second .stat1 {
  padding-top: 30px;
}

.second .stat2 {
  padding-bottom: 30px;
}
